<% provide(:title, "Log in") %>
<% if !current_user%>
<div class="centerjumbotron">
    <h1>Log in</h1>
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
    <%= form_with url: login_path, scope: :session, local: true, data: {turbo: false} do |f| %>
        <%= f.label :email.downcase %>
        <%= f.email_field :email.downcase, class: 'form-control' %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
</div>
 <% else %>
  <h1>You don't have permission to access this page!</h1>
<%end%>
