<% provide(:title, "Edit group") %>
<div class="centerjumbotron">
<h1>Update <%= @group.groupname %> </h1>
  <%= form_with(model: @group, local: false) do |f| %>
    <%= f.label "New Name: " %>
    <%= f.text_field :groupname, class: 'form-control' %>
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  <% end %>
</div>
</div>