<% if current_user.admin%>
<p style="color: green"><%= notice %></p>

<div class="centerjumbotron">
<h1>Groups</h1>

<div id="groups">
  <div class="space"></div>
  <% @Groups.each do |group| %>
    <%= render group %>
    <div class="left bullet ctext">
      <%= link_to group.groupname, group %>
    </div>
  <% end %>
  <div class="space"></div>
  <h2><%= link_to "New Group", new_group_path %></h2>
  <h2><%= link_to "Back to Dashboard",dashboardA_path%></h2>
</div>
</div>
<% else%>
  <h1>You don't have permission to access this page!</h1>
<%end%>
