<%= render @group %>
<h1><%= @group.groupname %></h1>
<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groupsI_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>