<% provide(:title, "Add to group") %>
<h1>Add to group</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :group %>
  <%= f.select :group_id, @groups.collect { |p| [p.groupname, p.id]}, {}, prompt: 'group'%>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>