<% if current_user.admin %>
<% provide(:title, "Add to group") %>
<div class="centerjumbotron">
<h1>Add to group</h1>


<%= form_with(model: @user, local: true) do |f| %>
  <div class="flex-container">
  <div class="flex-child">
  <%= f.label :group %>
  </div>
  <div class="flex-child">
  <%= f.select :group_id, @groups.collect { |p| [p.groupname, p.id]}, {}, prompt: 'group'%>
  </div>
  </div>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>


<br>

<h2>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</h2>
</div>
<% else %>
  <h1>You don't have permission to access this page!</h1>
<%end%>
