<p style="color: green"><%= notice %></p>

<%= render @project %>
<div class="centerjumbotron">
<h1>Project: <%= @project.projectname %></h1>
<div class="space"></div>
<div class="left ctext">
  <strong>Description:</strong>
  <%= @project.projectdescription %>
</div>

<div class="left ctext">
  <strong>Start date:</strong>
  <%= @project.startdate %>
</div>

<div class="left ctext">
  <strong>End date:</strong>
  <%= @project.enddate %>
</div>

<div class="left ctext">
  <strong>Group:</strong>
  <%= @project.group.groupname if @project.group %>
</div>
<div class="space"></div>
<h2>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %> | 
  <%= button_to "Destroy this group", @project, method: :delete %>
</h2>
</div>
