<p style="color: green"><%= notice %></p>
<div class="centerjumbotron">
<h1>Reviews</h1>
<div class="space"></div>
<div id="reviews">
  <% if Review.all %>
    <% Review.all.each do |review|%>
      <%= render review %>
      <p class="left">
        Score:
        <%= review.score %>
        | Comment:
        <%= review.comment%>
        | Project:
        <%= review.project.projectname%>
        
        | About:
        <%= review.user.name%>
      </p>
    <% end %>
  <% end%>
</div>
<div class="space"></div>
<h2><%= link_to "Back to dashboard", dashboardU_path if !current_user.admin%>
<%= link_to "Back to dashboard", dashboardA_path if current_user.admin%></h2>
</div>
