<% if @user = current_user %>
<p style="color: green"><%= notice %></p>
<div class="centerjumbotron">
<h1>Reviews</h1>
<div class="space"></div>
<div id="reviews">
  <% if @reviews %>
    <% @reviews.each do |review|%>
      <%= render review %>
      <div class="left ctext">
        Score:
        <%= review.score %>
        | Comment:
        <%= review.comment%>
      </div>
    <% end %>
  <% end%>
</div>
<div class="space"></div>
<h2><%= link_to "New review", new_review_path %> |
<%= link_to "Back to dashboard", dashboardU_path%></h2>
</div>
<% else %>
  <h1>You don't have permission to access this page!</h1>
<%end%>
