<p style="color: green"><%= notice %></p>
<div class="centerjumbotron">

<%= render @review %>
<p>
  <strong>Person:</strong>
  <%= @review.user.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<h2>
  <%= link_to "Edit this review", edit_review_path(@review) %> |
  <%= link_to "Back to dashboard", dashboardU_path %>

  <%= button_to "Destroy this review", @review, method: :delete %>
</h2>
</div>
